<li class="header">HEADER</li>
<!-- Optionally, you can add icons to the links -->
<li ui-sref="dashboard.inicio" ui-sref-active="active"><a href=""><i class="fa fa-dashboard"></i> <span>Inicio</span></a></li>

<li class="treeview">
  <a href=""><i class="fa fa-user"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i></a>
  <ul class="treeview-menu">
    <li ui-sref="dashboard.clientes" ui-sref-active="active"><a href="">Clientes</a></li>
    <li ui-sref="dashboard.registrar_cliente" ui-sref-active="active"><a href="">Nuevo Cliente</a></li>
  </ul>
</li>

<li class="treeview">
  <a href=""><i class="fa fa-link"></i> <span>Ventas</span> <i class="fa fa-angle-left pull-right"></i></a>
  <ul class="treeview-menu">
    <li ui-sref="dashboard.ventas" ui-sref-active="active"><a href="">Ventas</a></li>
    <li ui-sref="dashboard.nueva_venta" ui-sref-active="active"><a href="">Nueva Venta</a></li>
  </ul>
</li>